body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
}


img{
    width: 50%;
    height: auto;
}
.main{
    float: right;
    
}

.border{
    float: left;
    
}